---
apiVersion: resource.k8s.io/v1
kind: DeviceClass
metadata:
  name: sriovnetwork.k8snetworkplumbingwg.io
spec:
  selectors:
  - cel: 
      expression: "device.driver == 'sriovnetwork.k8snetworkplumbingwg.io'"
