---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.20.0
  name: sriovresourcepolicies.sriovnetwork.k8snetworkplumbingwg.io
spec:
  group: sriovnetwork.k8snetworkplumbingwg.io
  names:
    kind: SriovResourcePolicy
    listKind: SriovResourcePolicyList
    plural: sriovresourcepolicies
    singular: sriovresourcepolicy
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: SriovResourcePolicy defines a policy for advertising SR-IOV devices
          as Kubernetes resources
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: SriovResourcePolicySpec is the spec for a SriovResourcePolicy
            properties:
              configs:
                items:
                  properties:
                    resourceFilters:
                      items:
                        description: ResourceFilter is a filter for a resource
                        properties:
                          devices:
                            items:
                              type: string
                            type: array
                          drivers:
                            items:
                              type: string
                            type: array
                          numaNodes:
                            items:
                              type: string
                            type: array
                          pciAddresses:
                            items:
                              type: string
                            type: array
                          pfNames:
                            items:
                              type: string
                            type: array
                          rootDevices:
                            items:
                              type: string
                            type: array
                          vendors:
                            items:
                              type: string
                            type: array
                        type: object
                      type: array
                    resourceName:
                      type: string
                  type: object
                type: array
              nodeSelector:
                additionalProperties:
                  type: string
                type: object
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
